
<div class="container">
  <div class="columns">
    <div class="column">
    <button class="button is-light is-fullwidth">POWP projekt zaliczeniowy (CQRs, Strategy, Singleton, Abstract Factory, Command)</button>
  </div>
  </div>
  <div class="columns">
    <div class="column">
      Fabryki
    </div>
    <div class="column">
      Linie montażowe
    </div>
    <div class="column">
      Maszyny
    </div>
  </div>
  <div class="columns">
    <div class="column ">
      <div class="field ">
        <div class="control ">
          <div class="select is-fullwidth is-primary">
            <select>
              <option>Fabryka 1</option>
              <option>Fabryka 2</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button is-fullwidth is-primary">Potwierdź</button>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <div class="select is-fullwidth is-warning">
            <select>
              <option>Linia 1</option>
              <option>Linia 2</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button is-fullwidth is-warning">Potwierdź</button>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <div class="select is-fullwidth is-danger">
            <select>
              <option>Maszyna 1</option>
              <option>Maszyna 2</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button is-fullwidth is-danger">Potwierdź</button>
    </div>
  </div>
</div>